/* Reset the basic elements to a baseline. */
body {
  color: #000000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  font-size: 13px;
}

#page .node div a, .comment a, #page .item-list a, .messages a, .admin a, .admin-panel ul.menu a, .help a, #footer a, form a

{
border-bottom: 1px dotted silver;
color: black;
text-decoration: none;
}

#page .node div a:hover, .comment a:hover, #page .item-list a:hover, .messages a:hover, .admin a:hover, .help a:hover, #footer a:hover, form a:hover

{
border-bottom: 1px dotted black;
}

#page a.tabledrag-handle

{
border: 0;
}

#page ul, .admin-panel ul li

{
list-style: url('images/content-bullet.png');
}

#page .admin-panel div.item-list ul li a

{
color: white;
}

/*h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 100%;
}*/


p, ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 100%;
}
li {
  margin: 0px;
  padding: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: inherit;
}

tr.even, tr.odd

{
background-color: #EDECEB;
}

thead th

{
border-bottom: 2px solid #C4C2BF
}

caption {
  text-align: left;
}
th {
  border-bottom-width: 1px;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
}
td {
  font-size: 100%;
}
form {
  margin: 0px;
  padding: 0px;
}
fieldset {
  border: 1px solid #e0e0e0;
  padding: 5px;
}
b, strong {
  font-weight: bold;
}
i, em, u {
  font-style: italic;
}
u {
  text-decoration: none;
}
a img {
  border: 0px;
}

/* Main page element styles */
#header {
  text-align: center;
  background-color: #ffffff;
}
#header h1 {
  margin-bottom: 10px;
  background: url('images/header.png') top left repeat-x;
  height: 22px;
  line-height: 20px;
  margin-top: 0;
  color: white;
  font-size: 13px;
}

#header h1 a

{
color: white;
text-decoration: none;
}

#header h1 span.site-name:after

{
content: " -"
}

#header span.buttons

{
background: url('images/header-buttons.png') no-repeat transparent;
height: 15px;
width: 51px;
float: right;
margin: 3px 3px 0 0;
}

#header img.logo {
  vertical-align: middle;
}
#header .site-name {
}
#header .site-slogan {
}
#header .navigation {
}

#header .navigation .navigation-primary

{
background: url('images/primary.png') repeat-x top left;
text-align: left;
margin-top: -11px;
margin-bottom: -14px;
height: 19px;
padding-top: 1px;
}

#header .navigation .navigation-primary ul.links a

{
text-decoration: none;
color: black;
margin: 1px;
padding: 0 5px 2px 5px;
font-size: 12px;
}

#header .navigation .navigation-primary ul.links a:hover

{
background-color: #89ADDA;
color: white;
border: #4A6D99 1px solid;
margin: 0;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
}

#header ul.links li

{
padding: 0;
}

#header ul.links li.first

{
margin-left: 5px;
}

#header input#edit-search-theme-form-1

{
float: right;
height: 12px;
margin-right: 61px;
margin-top: -18px;
font-size: 11px;
border: 1px solid #C0BEBB;
background-color: white;
}

#header input.form-submit

{
float: right;
height: 16px;
width: 60px;
margin-top: -18px;
font-size: 11px;
border: 1px solid #C0BEBB;
background-color: #F5F4F3
}

#header .navigation .navigation-secondary {
}
#header form.search {
  margin-top: 10px;
}

#container

{
xclear: both;
padding: 5px;
}

.sidebar

{
background: url('images/sidebar-back.png') top left no-repeat transparent;
padding-top: 30px;
}

#left-sidebar {
  float: left;
  width: 20%;
}
#right-sidebar {
  float: left;
  width: 20%;
}

#left-sidebar ul.menu ul.menu, #right-sidebar ul.menu ul.menu

{
margin-top: 5px;
}

#page {
  float: left;
  overflow: hidden;
  min-height: 500px;
  background: url('images/content-back.png') top left no-repeat transparent;
  padding-top: 30px;
}

#footer

{
clear: both;
text-align: center;
background: url('images/footer.png') repeat-x top left;
height: 20px;
line-height: 20px;
font-size: 12px;
}

#footer-corner

{
height: 11px;
width: 11px;
float: right;
background-image: url('images/footer-corner.png');
margin-right: 1px;
margin-top: -12px;
}

/* Common page items */
#page h2.title

{
background: url('images/title-back.png') no-repeat top left;
height: 50px;
line-height: 50px;
font-size: 20px;
padding-left: 20px;
margin-bottom: 10px;
}

/* line height */

.help, .messages, fieldset

{
line-height: 130%
}

#page #mission

{
padding: 5px;
font-size: 9pt;
background: url('images/mission.png') repeat-x #79a0d1 top left;
border: 1px solid #5d80ac;
color: white;
line-height: 150%
}

.logo

{
float: left;
padding-right: 5px;
}

#page .tabs {
}
#page .help {
}
/*#page .messages {
  color: #333333;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
}*/

div.error

{
background: url('images/warning.png') transparent no-repeat;
min-height: 58px;
padding: 3px 3px 3px 67px;
border: 0;
color: black;
}

div.status

{
background: url('images/info.png') transparent no-repeat;
min-height: 58px;
padding: 3px 3px 3px 50px;
border: 0;
color: black;
}

.breadcrumb

{
background: url('images/breadcrumb-back.png') no-repeat transparent;
padding-left: 20px;
line-height: 20px;
padding-bottom: 0;
margin-bottom: -7px;
}

/* Little icons :) */

#page ul.links li.comment_add a

{
background: no-repeat url('images/icons-comment-add.png');
padding-left: 20px
}

#page ul.links li.comment_new_comments a

{
background: no-repeat url('images/icons-comment-new.png');
padding-left: 20px
}

#page ul.links li.blog_usernames_blog a

{
background: no-repeat url('images/icons-back.png');
padding-left: 20px
}

#page ul.links li.node_read_more a

{
background: no-repeat url('images/icons-read-more.png');
padding-left: 20px
}

ul.links li.comment_comments a

{
background: no-repeat url('images/icons-comment-comments.png');
padding-left: 20px
}

ul.links li.comment_delete a

{
background: no-repeat url('images/icons-comment-delete.png');
padding-left: 20px
}

ul.links li.comment_edit a

{
background: no-repeat url('images/icons-comment-edit.png');
padding-left: 20px
}

ul.links li.comment_reply a

{
background: no-repeat url('images/icons-comment-reply.png');
padding-left: 20px
}

/* Blocks */
.block {
  padding-left: 5px;
  padding-right: 5px;
}
.block .title

{
font-weight: bold;
font-size: 15px;
margin-bottom: 5px;
}

.block .content {
  padding-bottom: 10px;
}
.user-login-block {
  text-align: left;
}

/* Nodes */
.node {
  margin-bottom: 10px;
}
.node h3.title, .comment h4

{
background: url('images/subtitle-back.png') no-repeat;
font-size: 15px;
height: 20px;
padding-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

.node h3.title:hover, .comment h4:hover

{
background-image: url('images/subtitle-back-hover.png')
}

.node h3.title a, .comment h4 a

{
text-decoration: none;
color: white;
border: none;
}

.node h3.title a:hover, .comment h4 a:hover

{
border: none;
}

.node .content

{
line-height: 130%;
}

.node .picture {
  float: left;
  padding: 4px;
  margin-right: 4px;
  background-color: #f0f0f0;
}

.node .date, .comment .date

{
background: url('images/posted-back.png') no-repeat;
height: 20px;
line-height: 20px;
padding-left: 25px;
margin-bottom: 1px;
color: black;
}

.node .author, .comment .author

{
background: url('images/author-back.png') no-repeat;
height: 20px;
line-height: 20px;
padding-left: 25px;
margin-bottom: 5px;
color: black;
}

.node .terms {
}
.node .links {
  clear: left;
}
.node-sticky {
}
.node table {
  width: 100%;
}

/* Boxes (comment list container) */
.box {
}
.box h3.title {
}
.box .content {
}

/* Comments */
.comment h4.title {
}
.comment .new {
}
.comment .content {
}
.comment .picture {
  float: left;
  padding: 4px;
  margin-right: 4px;
  background-color: #f0f0f0;
}
.comment .date {
}
.comment .author {
}
.comment .links {
  clear: left;
}
.comment-new {
}

/* Customize different page layouts */
#header {
  margin-left: auto;
  margin-right: auto;
}
body.sidebar-left #header {
  width: 100%;
}
body.sidebar-right #header {
  width: 100%;
}
body.two-sidebars #header {
  width: 100%;
}
body.no-sidebars #header {
  width: 100%;
}

body.sidebar-left #page {
  width: 78%;
  padding-left: 5px;
}
body.sidebar-right #page {
  width: 78%;
  padding-right: 5px;
}
body.two-sidebars #page {
  width: 58%;
  padding-left: 5px;
  padding-right: 5px;
}
body.no-sidebars #page {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  float: none;
}

.footer {
  margin-left: auto;
  margin-right: auto;
}
body.sidebar-left .footer {
  width: 80%;
}
body.sidebar-right .footer {
  width: 80%;
}
body.two-sidebars .footer {
  width: 60%;
}
body.no-sidebars .footer {
  width: 100%;
}

/* Fixed-width sidebars, fixed center column. */
/*
#left-sidebar {
  float: left;
  width: 120px;
}
#right-sidebar {
  float: left;
  width: 100px;
}

#header,
body.sidebar-left #header,
body.sidebar-right #header,
body.two-sidebars #header,
body.no-sidebars #header {
  width: 760px;
  margin-left: 0px;
  margin-right: 0px;
}

body.sidebar-left #page,
body.sidebar-right #page,
body.two-sidebars #page,
body.no-sidebars #page {
  float: left;
  width: 440px;
}

.footer,
body.sidebar-left .footer,
body.sidebar-right .footer,
body.two-sidebars .footer,
body.no-sidebars .footer {
  width: 760px;
  margin-left: 0px;
  margin-right: 0px;
}
*/

/* Fixed-width sidebars, fluid center column. */
/*
#left-sidebar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
}
#right-sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 160px;
}

#header,
body.sidebar-left #header,
body.sidebar-right #header,
body.two-sidebars #header,
body.no-sidebars #header {
  margin-left: 160px;
  margin-right: 160px;
}

body.sidebar-left #page,
body.sidebar-right #page,
body.two-sidebars #page,
body.no-sidebars #page {
  float: none;
  margin-left: 160px;
  margin-right: 160px;
}

.footer,
body.sidebar-left .footer,
body.sidebar-right .footer,
body.two-sidebars .footer,
body.no-sidebars .footer {
  margin-left: 160px;
  margin-right: 160px;
}
*/
/* end custom layouts */

/* Override drupal.css */
#user-login-form {
  text-align: left;
}

.sidebar ul li

{
list-style: url('images/navigation-bullet.png');
margin: 0 0 2px 1em;
}

/* sidebar link styles */

.sidebar ul li a:link, .sidebar ul li a:visited, .breadcrumb a, legend a, ul.tabs li a, dl.admin-list dt a, dl.node-type-list a, #page .item-list ul.pager a, table tr a

{
text-decoration: none;
color: black;
border: 0;
}

.sidebar ul li a:hover, .breadcrumb a:hover, legend a:hover, ul.tabs li a:hover, dl.admin-list dt a:hover, dl.node-type-list a:hover, #page .item-list ul.pager a:hover, table tr a:hover

{
color: #7f7f7f;
border: 0;
}

/* poll */

.poll .bar .foreground

{
background: url('images/poll-front.png') repeat-x;
height: 16px;
}

.poll .bar

{
background: url('images/poll-back.png') repeat-x;
height: 16px;
}

/* comment */

.comment

{
background: url('images/blue-gradient.png') repeat-x top right;
padding: 0 5px 5px 5px;
color: white;
margin: 5px 0 5px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border: 1px solid #5d80ac
}

.comment .picture

{
float: right;
background-color: transparent;
}

.comment ul.links

{
background-color: white;
margin: -5px;
padding: 3px 3px 5px 3px;
}

/* admin pages */

div.admin-panel, dl.admin-list

{
background: url('images/blue-gradient.png') repeat-x top left;
padding: 0 5px 0 0;
margin: 10px 0 10px 0;
color: white;
border: 1px solid #5D80AC;
}

div.admin-panel dl.admin-list

{
padding: 0;
border: 0;
}

dl.admin-list, dl.node-type-list

{
background: url('images/blue-gradient.png') repeat-x top left;
padding: 5px;
margin: 10px 0 10px 0;
color: white;
border: 1px solid #5D80AC;
}

div.admin-panel h3

{
background: url('images/admin-title.png') no-repeat;
padding: 10px 0 10px 40px;
margin: -1px 0 5px -1px;
color: black;
}

dl.admin-list dt

{
background: url('images/admin-subtitle.png') no-repeat top left;
padding: 3px 3px 3px 24px;
margin-bottom: 3px;
}

dl.node-type-list dt

{
background: url('images/admin-node-subtitle.png') no-repeat top left;
padding: 3px 3px 3px 24px;
margin-bottom: 3px;
}

div.admin-panel, dl.admin-list dd, dl.node-type-list dd

{
margin: 0 0 3px 0;
}

.admin-panel ul.menu li a

{
color: white;
}

.compact-link

{
margin-bottom: 10px;
}

/** status report page **/

table.system-status-report tr.ok

{
background-color: #BDFCC9;
}

table.system-status-report tr.ok th

{
background: url('images/status-ok.png') no-repeat 5px 50%
}

table.system-status-report tr.error

{
background-color: #FFCCCC;
}

table.system-status-report tr.error th

{
background: url('images/status-error.png') no-repeat 5px 50%
}

table.system-status-report tr.info

{
background-color: #C1F0F6;
}

table.system-status-report tr.info th

{
background: url('images/status-info.png') no-repeat 5px 50%
}

/* tabs */

ul.primary

{
border-bottom: 1px solid #C4C2BF
}

ul.primary li.active a

{
background: url('images/tab-left.png') no-repeat top left;
padding: 5px 2px 0 9px;
border: 0;
}

ul.primary li.active:hover

{
background-image: url('images/tab-middle.png')
}

ul.primary li.active

{
background: url('images/tab-middle.png') no-repeat top right;
padding-top: 5px;
border: none;
}

ul.primary li

{
background: url('images/tab-inactive.png') no-repeat top right transparent;
border: 0;
padding-top: 3px;
margin-left: -4px;
border-left: 1px solid #A4A09D
}

ul.primary li:hover

{
background-image: url('images/tab-inactive-hover.png')
}

ul.primary li a, ul.primary li a:hover

{
background: none;
}

ul.primary li a

{
background-color: none;
border: none;
}

/* secondary tabs */

ul.secondary

{
border: 0;
margin: 10px 0 10px 0;
}

ul.secondary li, ul.secondary li.active

{
background: url('images/tab-secondary-back.png') repeat-x top left;
border: 1px solid #C4C2BF;
padding: 5px 15px 3px 15px;
}

ul.secondary li.active

{
background-position: bottom left;
}

ul.secondary li.active a.active

{
border: 0;
}

ul.secondary li:hover

{
background-position: bottom left;
}

ul.secondary li a

{
background: none;
}

/* pager */

.item-list .pager li.pager-current

{
background: url('images/pager-active-back.png') no-repeat top left;
margin: 0;
width: 8px;
height: 16px;
}

.item-list .pager li.pager-item

{
background: url('images/pager-inactive-back.png') no-repeat top left;
margin: 0;
width: 8px;
height: 16px;
}

.item-list .pager li.pager-next, .item-list .pager li.pager-first, .item-list .pager li.pager-previous,  .item-list .pager li.pager-last

{
background-color: #F3F2F2;
border: 1px solid #8B8986;
padding: 3px;
margin: 0;
}

.block-region

{
border: 1px solid #FFFF42;
background-color: #FFFFA7;
margin: 10px;
}
